@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat:wght@100&family=Quintessential&display=swap");

$background-color: #060447;
$golden-colour: #fff38a;
$golden-brown-colour: #827b68;

$width: 75%;

$date-font-size: 13rem;

* {
  width: 100%;
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
  color: $golden-colour;
}

main {
  margin: auto;
  margin-top: 6rem;
}
.top-section {
  width: $width;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
}

.left-container {
  width: 40%;
  height: 31rem;
  margin-top: 0%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  text-align: left;
  margin: auto;
  height: auto;
  margin-top: 0px;
  &__icon {
    height: 4rem;
    width: 4rem;
  }
  &__title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
  &__text {
    margin-top: -1rem;
    width: 96%;
  }
}

.pic {
  height: 32rem;
  width: auto;
  margin-right: 0px;
}

.date {
  display: flex;
  justify-content: center;
  width: min-content;
  font-size: $date-font-size;
  font-weight: bold;
  height: $date-font-size;
}

.bottom-section {
  height: 15%;
  width: $width;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  &__arrows {
    width: 10%;
  }
}

.arrow {
  height: 1.5rem;
  width: 2rem;
  &__right {
    margin-left: 1rem;
  }
}

.balls {
  display: flex;
  justify-content: space-between;
  width: 85%;
  &__ball {
    height: 2rem;
    width: auto;
  }
  &__line {
    height: 0rem;
    border: 1px solid $golden-brown-colour;
    transform: translateY(1rem);
    &--active {
      border: 1px solid $golden-colour;
    }
  }
}
