@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat:wght@100&family=Quintessential&display=swap");

$background-color: #060447;
$golden-colour: #fff38a;
$golden-brown-colour: #827b68;

$width: 78%;

$date-font-size: 13rem;

@mixin transition-transform {
  transition: opacity 0.2s ease, transform 0.2s ease-in;
}

@mixin transform-seventy {
  transform: translateX(-70%);
}

@mixin transform-one-hundred-and-seventy {
  transform: translateX(-170%);
}

* {
  width: 100%;
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
  color: $golden-colour;
}

main {
  margin: auto;
  margin-top: 6rem;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.top-section {
  width: $width;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  position: relative;
}

.left-container {
  height: 31rem;
  margin-top: 0%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  border: 1px slid red;
}

.icons,
.texts,
.titles {
  display: flex;
}

.description {
  text-align: left;
  margin: auto;
  height: auto;
  margin-top: 0px;
  scroll-behavior: smooth;
  &__icon {
    height: 4rem;
    width: 4rem;
    @include transition-transform();
    &--2 {
      @include transform-seventy();
    }
    &--3 {
      @include transform-one-hundred-and-seventy();
    }
  }
  &__title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    min-width: 26rem;
    overflow: visible;
    @include transition-transform();
    &--2 {
      @include transform-seventy();
    }
    &--3 {
      @include transform-one-hundred-and-seventy();
    }
  }
  &__text {
    margin-top: -1rem;
    min-width: 21rem;
    overflow: visible;
    @include transition-transform();
    &--2 {
      @include transform-seventy();
    }
    &--3 {
      @include transform-one-hundred-and-seventy();
    }
  }
}

.slider {
  display: flex;
  width: auto;
  position: absolute;
  left: 40rem;
  z-index: 2;

  &__pic {
    height: 32rem;
    width: auto;
    margin-right: 0px;
    @include transition-transform();
    &--3 {
      transform: translateX(-100%);
    }
  }
}

.dates {
  display: flex;
  width: auto;
  justify-content: center;
  font-size: $date-font-size;
  font-weight: bolder;
  height: $date-font-size;
  &__1 {
    @include transition-transform();
  }
  &__2 {
    display: flex;
    margin-left: 1rem;
    transform: translateX(-50%);
    @include transition-transform();
    &--digit-2 {
      @include transition-transform();
    }
  }
  &__3 {
    transform: translateX(-250%);
    @include transition-transform();
  }
}

.bottom-section {
  height: 15%;
  width: $width;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__arrows {
    width: 10%;
  }
}

.arrow {
  height: 1.5rem;
  width: 2rem;
  cursor: pointer;

  &__right {
    margin-left: 1rem;
  }
}

.meter {
  display: flex;
  justify-content: space-between;
  width: 85%;
  &__ball {
    height: 2rem;
    position: absolute;
    width: auto;
    transform-origin: left;
    @include transition-transform();
    &--transform {
      transform: scale3d(0, 0, 0);
      opacity: 0;
    }
  }
  &__line {
    height: 2px;
    background-color: $golden-brown-colour;
    @include transition-transform();
    transform-origin: left;
    position: absolute;
    top: 50%;
    &--active-1,
    &--active-2,
    &--active-3,
    &--active-4 {
      background-color: $golden-colour;
    }
    &--transform {
      transform: scaleX(0);
      opacity: 0;
    }
  }
}

.balls {
  position: relative;
  height: 2rem;
  width: 10rem;
}

.lines {
  position: relative;
}

.transform-left-1 {
  transform: translateX(-100%);
}

.transform-left-15 {
  transform: translateX(-100%);
}

.transform-left-2 {
  transform: translateX(-200%);
}

.transform-left-3 {
  transform: translateX(-340%);
}

.translate-left-custom {
  transform: translateX(-340%);
}

.transform-one-hundred-and-thirty {
  transform: translateX(-130%);
}

.transform-thirty {
  transform: translateX(-30%);
}
